<div class="main-container">
  
  <div class="container new-chat m-3">
    <h3>Meet new people, open your mind.</h3>
    <p>Invite people interested in the same activity that you to your chatroom! Know each other and create a new event!</p>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-8">
          <%= simple_form_for([@activity, @chatroom]) do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :users, collection: @users, label_method: :full_name, value_method: :id, include_blank: false, input_html: {multiple: true}, class: "user-list" %>
            <%= f.button :submit, class: 'btn-red-degrade' %>
          <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-12 col-md-6 col-xl-4">
          <h2 class="m-2">#let's talk...</h2>
            <div class="small-card my-2">
              <img src="assets/images/photo-1469334031218-e382a71b716b.jpg" />
              <div class="small-card">
                <div>
                  <h1><%= user.username %></h1>
                  <p><%= user.full_name %></p>
                  <%= link_to 'See profile', user_path(user) %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>











