<div class="main-container">
    <div class="row">
      <% @users.each do |user| %>
        <div class="col-12 col-md-6 col-xl-4">
          <h2 class="m-2">#let's talk...</h2>
            <div class="small-card my-2">
              <img src="assets/images/photo-1469334031218-e382a71b716b.jpg" />
              <div class="small-card">
                <div>
                  <h1><%= user.username %></h1>
                  <p><%= user.full_name %></p>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  
  <div class="m-5">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-8">  
        <div class="m-2">
          <h3>Create your own chatroom</h3>
          <p>Choose people to share the experience and start a chat to arrange the details</p>
        </div>
          <%= simple_form_for([@activity, @chatroom]) do |f| %>
            <%= f.input :title %>
            <%= f.input :description %>
            <%= f.input :users, collection: @users, label_method: :full_name, value_method: :id, include_blank: false, input_html: {multiple: true} %>
            <%= f.button :submit, class: 'btn-red-degrade' %>
          <% end %>

      </div>
    </div>
  </div>
</div>











