<div class="main-container">
  <div class="row">
    <div class="col-12 col-lg-4 chatroom-users">
      <div class="row">
        <h2 class="m-3">Participants</h2>
        <% @participants.each do |part| %>
        <div class="col-4 col-lg-12">
          <div class="chatroom-user mb-3">
            <div class="row">
              <div class="col-12 col-lg-4">
                <% if part.user.photo.attached? %>
                  <%= cl_image_tag part.user.photo.key, class: "avatar" %>
                <% else %>
                  <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png", class: "avatar" %>
                <% end %>
              </div>
              <div class="col-3 col-lg-8">
                <div class="chatroom-user-infos p-2">
                  <%= link_to user_path(part.user) do %>
                    <h2><%= part.user.full_name %></h2>
                  <% end %>
                  <p>Username: <%= part.user.username %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="row">
        <h2 class="mx-3">Activity</h2>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center ">
          <% if @chatroom.event %>
            <%= link_to 'See event details', event_path(@chatroom.event), class: 'btn-red-degrade mt-3' %>
          <% else %>
            <%= link_to 'Create event', new_chatroom_event_path(@chatroom), class: 'btn-red-degrade mt-3 btn-block text-center' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 chatroom">
      <div class="row">
        <div class="col-12">
          <div class="chat-header"><h1><%= @chatroom.title %></h1></div>
          <p class="mx-3"><%= @chatroom.description %></p>
          <hr>
          <div  class="mx-3" id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>
          <hr>
          <div id="create-message">
            <%= simple_form_for [ @chatroom, @message ], remote: true, input_html: { autocomplete: "off" } do |f| %>
              <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.title}", input_html: {id: "user-input", autocomplete: "off" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
