<div class="main-container">
  <div class="chatroom-users">
    <h2 class="text-center mb-5">Participants</h2>
    <div class="row">
      <% @participants.each do |part| %>
      <div class="col-12">
        <div class="chatroom-user text-center">
          <div class="row">
            <div class="col-12 col-lg-4">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            </div>
            <div class="col-12 col-lg-8">
              <div class="chatroom-user-infos">
                <h2><%= part.user.full_name %></h2>
                <p>Username: <%= part.user.username %></p>
                <p>Email: <%= part.user.email %></p>
                <p>Address: <%= part.user.address %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <% if @chatroom.event %>
          <%= link_to 'See event details', event_path(@chatroom.event), class: 'btn-red-degrade mt-5' %>
        <% else %>
          <%= link_to 'Create event', new_chatroom_event_path(@chatroom), class: 'btn-red-degrade mt-5' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="chatroom">
    <div class="row">
      <div class="col-12">
        <div class="chat-header"><h1>#<%= @chatroom.title %></h1></div>
        <p><%= @chatroom.description %></p>
        <hr>
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
        <hr>
        <div id="create-message">
          <%= simple_form_for [ @chatroom, @message ], remote: true, input_html: { autocomplete: "off" } do |f| %>
            <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.title}", input_html: {id: "user-input", autocomplete: "off" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
