<div class="main-container mb-5">
  <div class="chatroom-users mr-4">
    <h2 class="text-center mb-5">Participants</h2>
    <div class="row">
      <% @participants.each do |part| %>
      <div class="col-12">
        <div class="chatroom-user text-center mb-3">
          <div class="row">
            <div class="col-12 col-lg-4">
              <% if part.user.photo.attached? %>
                <%= cl_image_tag part.user.photo.key %>
                  <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" %>
            </div>
            <div class="col-12 col-lg-8">
              <div class="chatroom-user-infos">
                <%= link_to user_path(part.user) do %>
                  <h2><%= part.user.full_name %></h2>
                <% end %>
                <p>Username: <%= part.user.username %></p>
                <p>Email: <%= part.user.email %></p>
                <p>Address: <%= part.user.address %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center ">
        <% if @chatroom.event %>
          <%= link_to 'See event details', event_path(@chatroom.event), class: 'btn-red-degrade mt-5' %>
        <% else %>
          <%= link_to 'Create event', new_chatroom_event_path(@chatroom), class: 'btn-red-degrade mt-5' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="chatroom">
    <div class="row">
      <div class="col-12">
        <div class="chat-header mx-"><h1>#<%= @chatroom.title %></h1></div>
        <p class="mx-2"><%= @chatroom.description %></p>
        <hr>
        <div  class="mx-3" id="messages" data-chatroom-id="<%= @chatroom.id %>">
          <% @chatroom.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>
        <hr>
        <div id="create-message">
          <%= simple_form_for [ @chatroom, @message ], remote: true, input_html: { autocomplete: "off" } do |f| %>
            <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.title}", input_html: {id: "user-input", autocomplete: "off" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
