<div class="container">
  <h1 class="my-4 invitation-title">Chatroom invitations</h1>
  <div class="row">
    <div class="col-12">
      <% if @invitations.empty? %>
        <div class="mt-5">
          You don't have any invitations yet!
        </div>
      <% else %>
        <% @invitations.each do |invitation| %>
        <div class="invitation">
          <div class="row">
            <div class="col-12">
              <h3>#<%= invitation.chatroom.title %></h3>
              <p><em><%= invitation.chatroom.description %></em></p>
            </div>
          </div>
          <div class="invitation-infos">
            <div class="row w-100">
              <div class="col-12 col-md-8 d-flex flex-column justify-content-center">
                <div class="invitation-participants">
                  <div><p><i class="fas fa-users"></i> <%= invitation.chatroom.participants.where(status: true).count %> participants in this chatroom</p></div>
                  <%= link_to activity_path(invitation.chatroom.activity), class: 'mb-2', target: "_blank" do %>
                    <p><i class="fas fa-info-circle"></i> Show activity info</p>
                  <% end %>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="invitation-buttons">
                  <%= link_to 'Accept', participant_path(invitation), method: :patch, class: 'btn-red-degrade text-nowrap mb-3 mx-auto px-4' %>
                  <%= link_to 'Ignore', participant_path(invitation), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-red-degrade text-nowrap mx-auto px-4' %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>