<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-5 col-lg-3">
      <div class="user-info-card">
        <div class="user-avatar">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, width: 235, height: 235, crop: :thumb, gravity: :face %>
          <% else %>
            <%= image_tag 'avatar-placeholder.png' %>
          <% end %>
        </div>
        <div class="d-flex flex-column w-100 mx-3">
          <div class="d-flex justify-content-between"><h2><%= @user.username %></h2><h2 class="mr-4"><%= age %></h2></div>
          <h6><%= @user.full_name %></h6>         
          <p><i class="fas fa-envelope mr-1"></i><a href="<%= @user.email %>">Contact</a></p>
          <p>Currently in: <em><strong><%= @chats.count %> chats!</strong></em></p>
        </div>
      </div>
    </div>
  </div>
</div>  
<div class="container">
  <div class="row grid">
    <% @user.activities.each do |act| %>
      <div>
        <div class="d-flex justify-content-center my-3">
          <div class="user-activity">
            <img src="<%= act.photo %>" />
            <%#= image_tag 'filename' %>
            <div class="user-activity-info">
              <%= link_to activity_path(act) do %>
                <h5><%= act.title %></h5>
              <% end %>
              <p><%= act.description %></p>
              <div class="d-flex justify-content-between"><p>Where?</p><h5><%= act.zone %></h5></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
