<div class="container">
  <h1 class="text-center mb-4">Create an event for #<%= @chatroom.title %></h1>
  <div class="row text-center">
    <div class="col-12">
      <%= simple_form_for [@chatroom, @event] do |f| %>
        <%= f.input :details, input_html: {rows: "5"} %>
        <div class="row text-center">
          <div class="col-12 col-lg-4">
            <%= f.input :status, collection: ["Public", "Private"] %>
          </div>
          <div class="col-12 col-lg-4">
            <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
          </div>
          <div class="col-12 col-lg-4">
            <%= f.input :address %>
          </div>
        </div>
        <%= f.button :submit, class: 'btn-red-degrade mt-3' %>
      <% end %>
    </div>
  </div>
</div>