<div class="container">
  <h1 class="text-left mb-4 my-4">Organize "<%= @chatroom.title %>", let's go!</h1>
  <div class="row text-left position-relative">
    <div class="col-12">  
      <%= simple_form_for [@chatroom, @event] do |f| %>
        <%= f.input :details, input_html: {rows: "5"} %>
        <div class="row text-left">
          <div class="col-12 col-lg-4">
            <%= f.input :status, collection: ["Public", "Private"], include_blank: false, prompt: "Select status" %>
          </div>
          <div class="col-12 col-lg-4">
            <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
          </div>
          <div class="col-12 col-lg-4">
            <%= f.input :address %>
          </div>
          <div style="padding-left: 15px;">
            <%= f.input :photo, as: :file %>
          </div>
        </div>
        <%= f.button :submit, class: 'btn-red-degrade mt-3 position-absolute', style: "right: 15px; bottom: 0;" %>
      <% end %>
    </div>
  </div>
  <h3 style="font-weight: 600;" class="text-left my-4">Participants</h3>
  <div class="row mb-4">
    <% @participants.each do |part| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="chatroom-user-event text-left mb-3">
          <div class="row align-items-center">
            <div class="col-12 col-lg-4">
              <% if part.user.photo.attached? %>
                <%= cl_image_tag part.user.photo.key %>
                  <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" %>
              <% end %> 
            </div>
            <div class="col-12 col-lg-8">
              <div class="chatroom-user-event-infos">
                <%= link_to user_path(part.user) do %>
                  <h2 class="title"><%= part.user.full_name %></h2>
                <% end %>
                <p>Username: <%= part.user.username %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>