<div class="container">
  <div class="row bg-white py-4 px-3 shadow rounded">
    <div class="col-12">
      <% if @event.photo.attached? %>
        <%= cl_image_tag @event.photo.key, class: "event-header-image" %>
      <% else %>
        <%= image_tag "https://images.unsplash.com/photo-1517457373958-b7bdd4587205?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8cGFydHl8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", class: "event-header-image" %>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-8 pt-4">
      <div class="event-show-title py-3">
        <h2 class="mb-3" style="font-weight: 600; color: #f24a55;"><%= @event.chatroom.title %></h2>
        <h3 style="font-weight: 600; font-size: 18px;"><%= @event.activity.title %> | <%= @event.activity.zone %></h3>
        <p class="event-show-details pt-0"><%= @event.details %></p>
      </div>
      <h4 class="pt-3 pb-5">See who is already at this event!</h4>
      <div class="row grid">
        <% @participants.each do |participant| %>
          <div>
            <div class="event-user-card text-center">
              <% if participant.user.photo.attached? %>
                <%= cl_image_tag participant.user.photo.key, width: 90, height: 90, crop: :thumb, gravity: :face %>
              <% else %>
                <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" %>
              <% end %>
              <div class="d-flex flex-column justify-content-center w-100">              
                <%= link_to user_path(participant.user) do %>
                  <h2><%= participant.user.username %></h2>
                <% end %>
                <p><%= participant.user.full_name %></p>                
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= link_to "Back to activity", activity_path(@event.activity_id), style: "position: absolute; bottom: 0;", class: "btn-link" %>
    </div>
    <div class="col-sm-12 col-md-4 pt-4">
      <div id="event-info">
        <div id="map"
          style="width: 100%; height: 300px; border-radius: 5px; box-shadow: 0 0 15px grey; margin-top: 30px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="d-flex mt-3">       
          <i class="my-auto fas fa-map-marker-alt"></i>
          <p class="my-auto ml-2"><%= @event.address %></p>
        </div>
        <div class="d-flex mt-3">       
          <i class="my-auto fas fa-calendar-alt"></i>
          <p class="my-auto ml-2"><%= @date.strftime("%d-%m-%Y") %></p>
        </div>
        <div class="d-flex mt-3">       
          <i class="my-auto fas fa-clock"></i>
          <p class="my-auto ml-2"><%= @time %></p>
        </div>
        <div class="d-flex mt-3">       
          <i class="my-auto fas fa-running"></i>
          <p class="my-auto ml-2"><%= @event.activity.category %></p>
        </div>
        <div class="event-show-contact-link">
          <% if @user_participant.empty? %>
            <%= simple_form_for([@event, @participant]) do |f| %>
              <%= f.button :submit, "Join chat", class: "btn btn-red-degrade" %>
            <% end %>
          <% else %>
            <%= link_to 'Chatroom', chatroom_path(@event.chatroom), class: "btn btn-red-degrade" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    
  </div>
</div>