  <div class="banner row">
    <div class="container banner-content col-10 col-md-8 col-xl-6">
      <h1>Share new <br/> experiences</h1>
       <%= form_tag activities_path, class: "d-flex align-items-center btn-search-bar", method: :get do %>
        <div data-controller="autocomplete" data-autocomplete-url-value="/autocomplete">
          <%= text_field_tag :query,
          params[:query],
          class: "form-control searchable-item my-1 col-md-mx-3",
          placeholder: "Find an activity...",
            data: { 'autocomplete-target' => 'input' } %>
          <ul data-autocomplete-target="results" class="option-list"></ul>
        </div>
        <%= select_tag(:zone,
          options_for_select(ZONES),
          include_blank: false,
          prompt: "Select zone",
          class: "form-control search-zone my-1")
        %>
        <%= button_tag "", class: "search-icon text-right justify-content-end fas fa-search" %>
      <% end %>
    </div>
    <div class="banner-background col-5 col-lg-6"></div>
    <div class="banner-img col-7 col-lg-6"></div>
    <div class="banner-background col-5 col-lg-6"></div>
    <div class="banner-img col-7 col-lg-6"></div>
  </div>

<!-- aca seria iterar por reviews y hay que modificar las cards -->
<div class="container mt-5">
  <div class="row m-2 justify-content-center">
    <% @activities.each do |activity| %>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-3">
        <div class="card-activity"> 
        <%= image_tag activity.photo %>
        <div class="card-activity-infos">
           <h1><%= link_to "#{truncate(activity.title, length: 18)}", activity_path(activity) %></h1>
            <p><%= truncate(activity.description, length: 85) %></p>
           <div class="d-flex location"> <i class="mx-1 icon-location fas fa-map-marker-alt"></i> <p class="text-location"><%= activity.zone %></p> </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Frequently Asqued Questions -->
<div class="container faq text-center my-5">
  <h2>Frequently Asked Questions</h2>
  
  <div class="row py-3">
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">Do I have to pay for Originex or it is free?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">How can I report someone?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">How does chatrooms work on Originex?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">Can anyone talk to me just because is interested in my profile?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">Do prices include taxes and fees?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3 text-left">
      <div class="d-flex justify-content-between align-items-center">
        <p class="question">What's the difference between an activity and and event?</p>
        <i class="faq-icon arrow fas fa-arrow-alt-circle-down"></i>
      </div>
      <div class="container px-0 py-2">
        <p class="question-answered" style="display: none; opacity: 0.6;">Originex is a web platform developed by Ariel Waisburg, Eric Hoare, Lucia Diaz and Santiago Castillo during Le Wagon bootcamp in Buenos Aires.</p>
      </div>
    </div>
  </div>
  
  <%= link_to "See more", root_path, class: "btn-faq btn-red-degrade" %>
</div>