<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-4">
      <div class="user-avatar">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key %>
        <% else %>
          <%= image_tag 'avatar-placeholder.png' %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-9 col-lg-8">
      <h1 class="text-center my-3">User information</h1>
      <div class="user">
        <h2><%= @user.full_name %></h2>
        <div class="user-infos">
          <p>Username: <%= @user.username %></p>
          <p>Email: <%= @user.email %></p>
        </div>
        <p>Currently participating in: <em><strong><%= @chats.count %> chats!</strong></em></p>
      </div>
    </div>
  </div>
  <div class="container">
    <h3 class="text-center my-3">Interests</h3>
    <div class="row mb-3">
      <% @user.activities.each do |act| %>
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
          <div class="user-activity">
            <img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2019/07/Teamlab1.jpg" />
            <%#= image_tag 'filename' %>
            <div class="user-activity-info">
              <%= link_to activity_path(act) do %>
                <h5><%= act.title %></h5>
              <% end %>
              <p><%= act.description %></p>
              <p>Where? <%= act.zone %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>