<div class="container">
  <h1 class="text-center m-3">Explore over our available activities</h1>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <%= form_tag activities_path, class: "d-flex align-items-center", method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an activity" %>
        <%= submit_tag "Search", class: "btn btn-red-degrade search-activites" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <% @activities.each do |activity| %>
        <div class="card-rectangular my-3">
          <% if activity.photo.attached? %>
              <%= cl_image_tag activity.photo.key %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fHNrYXRlYm9hcmR8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60", class: "card-rectangular-square-img" %>
            <% end %>  
          <div class="card-profile-info">     
            <h2><%= link_to "#{activity.title}", activity_path(activity) %></h2>
            <p><%= activity.category %> | <%= activity.zone %></p>
            <p><%= activity.description %></p>
          </div> 
        </div>
      <% end %>
    </div>
  </div>

  
</div>