<% if @activities.size > 0 %>
<% content_for :meta_title, "#{@activities.first.title} - #{DEFAULT_META["meta_product_name"]}'s activities" %>
<% else %>
<%= content_for :meta_title, "#{DEFAULT_META["meta_product_name"]}'s activities - Share new experiences" %>
<% end %>
<% content_for :meta_description, "Explore over our activities and find one that fits your interests. Have fun, meet people and keep inovating in your daily life!" %>

<div class="container container-index">
  <h1 class="text-left m-3">Explore over our available activities</h1>
  <div class="row justify-content-start">
    <div class="col-12 col-md-10 col-lg-8 my-2">
      <%= form_tag activities_path, class: "d-flex justify-content-center align-items-center btn-search-bar search-bar-index", method: :get do %>
      <div class="row align-items-center w-100">
        <div class="col-6 px-1 mx-auto">
          <div data-controller="autocomplete" data-autocomplete-url-value="/autocomplete">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control searchable-item",
              placeholder: "Find an activity...",
              data: { 'autocomplete-target' => 'input' } %>
              <ul data-autocomplete-target="results" class="option-list-index"></ul>
          </div>
        </div>
        <div class="col-5 px-1 mx-auto">
          <%= select_tag(:zone,
            options_for_select(ZONES),
            include_blank: false,
            prompt: "Select zone",
            class: "form-control search-zone search-zone-index")
          %>
        </div>
        <div class="icon-column col-1 d-flex justify-content-end px-0">
          <%= button_tag "", class: "search-icon activity-search-icon text-right justify-content-end fas fa-search" %>        
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-12">
      <% if @activities.empty? %>
        <div class="mt-4">
          We are sorry! There are no activities matching your search, please try again!
        </div>
      <% else %>
        <% @activities.each do |activity| %>
          <div class="card-rectangular my-3">
            <% if activity.photo.nil? %>
              <%= image_tag "https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fHNrYXRlYm9hcmR8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60", class: "card-rectangular-square-img" %>   
            <% else %>
              <%= image_tag activity.photo %>
            <% end %>  
            <div class="card-profile-info">     
              <h2><%= link_to "#{activity.title}", activity_path(activity) %></h2>
              <p><%= activity.category %> | <%= activity.zone %></p>
              <p><%= activity.description %></p>
            </div> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  
</div>