<% content_for :meta_title, "#{DEFAULT_META["meta_product_name"]}'s activities - Find the best one for you" %>

<div class="container">
  <h1 class="text-center m-3">Explore over our available activities</h1>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8">
      <%= form_tag activities_path, class: "d-flex align-items-center", method: :get do %>
      <div class="row">
        <div class="col-10 col-md-5 px-1 mx-auto">
          <div data-controller="autocomplete" data-autocomplete-url-value="/autocomplete">
            <%= text_field_tag :query,
              params[:query],
              class: "form-control search-index",
              placeholder: "Find an activity...",
              data: { 'autocomplete-target' => 'input' } %>
              <ul data-autocomplete-target="results" class="option-list-index"></ul>
          </div>
        </div>
        <div class="col-10 col-md-5 px-1 mx-auto">
          <%= select_tag(:zone,
            options_for_select(ZONES),
            include_blank: false,
            prompt: "Select zone",
            class: "form-control search-zone search-zone-index my-1")
          %>
        </div>
        <div class="col-12 col-md-2 d-flex justify-content-center">
          <%= submit_tag "Search", class: "btn btn-red-degrade search-activites" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-12">
      <% if @activities.empty? %>
        <div class="mt-4">
          We are sorry! There are no activities matching your search, please try again!
        </div>
      <% else %>
        <% @activities.each do |activity| %>
          <div class="card-rectangular my-3">
            <% if activity.photo.nil? %>
              <%= image_tag "https://images.unsplash.com/photo-1534531304203-b830551771b9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fHNrYXRlYm9hcmR8ZW58MHwwfDB8&auto=format&fit=crop&w=500&q=60", class: "card-rectangular-square-img" %>   
            <% else %>
              <%= image_tag activity.photo %>
            <% end %>  
            <div class="card-profile-info">     
              <h2><%= link_to "#{activity.title}", activity_path(activity) %></h2>
              <p><%= activity.category %> | <%= activity.zone %></p>
              <p><%= activity.description %></p>
            </div> 
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  
</div>