<div class="show-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-rectangular horizontal-centered">
          <div>
            <img src="https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/6/2019/07/Teamlab1.jpg" class="card-rectangular-square-img" />
          </div>
          <div class="card-pofile-info">
            <h2><%= @activity.title %></h2>
            <p><%= @activity.category %> | <%= @activity.zone %></p>
            <p><%= @activity.description %></p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <%= link_to 'Create chatroom', new_activity_chatroom_path(@activity), class: 'btn-red-degrade m-3' %>
          <%= link_to 'go back', activities_path, class: 'btn-red-degrade m-3' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="events-banner mb-3">
  <div class="container">
    <h3 class="text-center m-5">Explore, play & enjoy!</h3>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card-activity my-5">
            <img src="https://i.pinimg.com/736x/a0/c4/c9/a0c4c9abd3fb0bfb6284f94d99e62760.jpg" />
            <div class="card-activity-infos text-center">
              <div>
                <h1><%= event.date.to_datetime.strftime('%a %d/%m/%Y') %></h1>
                <p class="mt-4"><%= event.details %> | <%= event.status %></p>
              </div>
              <div class="d-flex justify-content-center mb-2">
                <!--Reemplazar después por el link_to correspondiente-->
                <div class="event-show-contact-link">
                  <%= simple_form_for([event, @participant]) do |f| %>
                    <%= f.button :submit, "Join event chatroom!", class: "btn btn-red-degrade" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>